.custom-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  min-width: 100px;
  min-height: 40px;

  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;

  color: #FFFFFF;

  background-color: #4E75FF;
  border-radius: 8px;
  border: none;
}

.custom-btn:hover {
  cursor: pointer;
  background-color: #6C8CFF;
}

.custom-btn:disabled {
  background-color: #6275b9;
}

.custom-btn.is-hidden {
  display: none;
}

.custom-btn-spinner {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  border-top: 2px solid rgba(255, 255, 255, 0.8);
  border-right: 2px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.custom-btn-spinner.is-hidden {
  display: none;
}
